@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
    font-family: "poppins", sans-serif;
    background-color: #f0f8ff;
}

#detailsRumahSakit {
    min-height: 100vh;
    padding-bottom: 1rem;
}

.detailsRumahSakit-title {
    margin-top: 3rem;
    font-weight: 600;
}

.detailsRumahSakit-content {
    margin-left: 15%;
    margin-right: 15%;
}

.navInformation {
    text-align: center;
}

.buttonCall {
    width: 180px;
    height: 35px;
    /* color: white;
    border-radius: 6px;
    margin-left: 0.5em;
    background-color: rgb(129, 152, 255); */
}

.buttonCall a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-left: 5px;
}

.buttonHospitalInformation {
    height: 35px;
    width: 90px;
    /* background-color: transparent; */
    /* border: 1px solid black;
    border-radius: 6px;
    color: rgb(129, 152, 255); */
}

.buttonHospitalInformation a {
    text-decoration: none;
    font-weight: 500;
}

.buttonBacktoSearch {
    margin-top: 0.5em;
    width: auto;
    height: 35px;
    margin-left: 5em;
    /* background-color: transparent; */
    /* border: 1px solid black;
    border-radius: 6px; */
    /* color: rgb(129, 152, 255); */
    text-decoration: none;
    font-weight: 500;
}

.rowGoTo {
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.card {
    border-radius: 6px;
    width: auto;
    margin: 0.5em 5em;
    float: none;
    border: none;
    background-color: transparent;
    box-shadow: 1px 1px 10px #d4cece;
}

.buttonDropDown {
    box-shadow: 1px 1px 10px #d4cece;
    text-align: left;
    border: none;
    height: auto;
    min-height: 70px;
    background-color: transparent;
}

.bedTitle {
    font-size: 20px;
    font-weight: 600;
}

.timeUpdate {
    margin-top: -1rem;
    font-size: 16px;
}

.dropDownIcon {
    margin-top: 1.5rem;
    font-size: 16px;
}

.card {
    margin: 1em 1em;
}

.cardDetailsCollapse {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardBed {
    width: 130px;
    margin-left: 2.5rem;
}

.informationCategory {
    font-weight: 600;
}

@media only screen and (max-width: 1400px) {
    .buttonHospitalInformation {
        margin-left: 6em;
    }
    .buttonBacktoSearch {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1200px) {
    .buttonCall {
        margin-left: 0rem;
        width: 100%;
    }
    .buttonHospitalInformation {
        width: 100%;
        margin-left: 0rem;
    }
    .buttonBacktoSearch {
        width: 100%;
        margin-left: 0em;
    }
    .cardBed {
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 992px) {
    .card {
        margin: 0.5em 0em;
    }
    .rowGoTo {
        margin-left: 0em;
        margin-right: 0em;
    }
    .buttonHospitalInformation {
        margin-top: 0.5em;
    }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
    .detailsRumahSakit-content {
        margin-left: -0.5em;
        width: 104%;
    }
    .card {
        margin: 1em 1em;
    }
    .cardDetailsCollapse {
        text-align: center;
    }
    .cardBed {
        width: auto;
    }
}
@media only screen and (max-width: 400px) {
    .dropDownIcon {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .bedTitle {
        font-size: 15px;
    }
    .timeUpdate {
        font-size: 13px;
    }
}
